<p>Report profile virtual</p>
<p>
    <a href="{{ urlProfileVirtual }}" 
    target="_blank" rel="noopener noreferrer"> 
        see profile id: {{ idVirtual }}
    </a>
</p>
<br/>
<p>report by</p>
<p> Email: {{email}}</p>
<p> name:  {{name}} </p>
<p> Description of Problem: </p>
<span> {{comment}} </span>